/* Establecer altura al 100% y eliminar márgenes */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

}

/* Fondo de pantalla completo */
body {
    /* background: linear-gradient(45deg, #2196F3, #21CBF3); /* Cambiar colores según prefieras */
    background-image: url(bgweb.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para la tarjeta */
.inputshelper {
    background-color: rgb(255, 255, 255, 0.6);
}

.textlblhelper {
    color: black;
    font-weight: bold;
}

.tittlelblhelper {
    color: black;
    font-weight: bold;
    color: #3d5afe;
    font-size: 30px;
    opacity: 0.8;
}

.tittle-text {
    position: absolute;
    top: 30px;
    /* Ajusta la posición vertical según sea necesario */
    left: 50%;
    /* Centra horizontalmente */
    transform: translateX(-50%);
    /* Centra horizontalmente */
    font-size: 40px;
    font-weight: bold;
    color: #3d5afe;
    opacity: 0.8;
    /* Transparencia */
    text-align: center;
    z-index: 1;
    /* Asegura que esté encima del card */
}

.card {
    width: 90%;
    max-width: 600px;
    /* Máximo ancho para mantener la legibilidad */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255, 0.6);
    transition: box-shadow 0.3s, transform 0.3s;
    /* Agregar transición */
    border-radius: 15px;

}

.ui-autocomplete.ui-widget-content {
    max-width: 100% !important;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    background-color: #E4E1E0 !important; /* Agrega el color de fondo deseado */
}
.ui-autocomplete .ui-menu-item-wrapper::before {
    content: "• "; /* Utiliza un punto negro grande (bullet) */
    margin-right: 5px; /* Ajusta el margen para separar el punto del texto */
    font-size: 1.5em; /* Ajusta el tamaño del punto según sea necesario */
    color: black; /* Color del punto */
}

.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    /* Cambiar la sombra al pasar el mouse */
    transform: translateY(-5px);
    /* Levantar la tarjeta */
    border-color: #3d5afe;
    border: 1px solid #3d5afe;
}

/* Ocupar todo el ancho disponible */
.card-body,
.form-control {
    width: 100%;
}